[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
pinecone-client = "*"
pypdf2 = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
